@import "tailwindcss";
@import "flowbite/src/themes/default";

@font-face {
  font-family: OpenSans;
  src: url('../fonts/OpenSans-VariableFont_wdth\,wght.ttf')
}
@font-face {
  font-family: Roboto;
  src: url('../fonts/Roboto-VariableFont_wdth\,wght.ttf')
}
[disabled] {
    cursor: not-allowed;
}
:root {
  --colors-01: #ffffff;
  --colors-02: #000000;
  --colors-03: #181818;
  --colors-04: #1e1e1e;
  --colors-05: #505050;
  --colors-06: #e0a21f;
  --colors-07: #866113;
  --colors-08: #2D2006;

  /* --palette01-1: #ffc107; --palette01-2: #926f18; --palette01-3: #322710; */
  /* --palette02-1: #28a745; --palette02-2: #22612c; --palette02-3: #132314; */
  /* --palette03-1: #007bff; --palette03-2: #224991; --palette03-3: #161c31; */
  /* --palette04-1: #dc3545; --palette04-2: #80272b; --palette04-3: #2d1413; */
  /* --palette05-1: #343a40; --palette05-2: #222528; --palette05-3: #0f1112; */
}

body {
  background: var(--colors-03);
  background-image: url('../img/content_wallpaper.webp');
  background-size: 100%;
  animation: opactity-config .75s linear;
}
.font-osFont {
  font-family: OpenSans;
}
.font-rFont {
  font-family: Roboto;
}